.property {
  padding: 5px;
}

.not_property {
  opacity: 0.4;
}

.productTitle {
  font-weight: bolder;
  font-size: 22px;
}

.properties_container {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin-top: -45px;
}

.details {
  color: #280813;
  margin-left: 10px;
}

.alignLeft {
  text-align: left;
}
