.prdContainer {
  display: flex;
  width: 485px;
}

.imgPrdContainer {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.mainPrdContainer {
  width: 76%;
  display: flex;
  flex-direction: column;
}

.tb {
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  border-top: 2px solid #c2bbba;
}

.actionsPrdContainer {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 130px;
  background-color: #fff;
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  border: 1px solid #c2bbba;
  border-top-right-radius: 20px;
  cursor: pointer;
}

.prdImg {
  border-top-left-radius: 20px;
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  height: 120px;
}

.prdPrice {
  padding: 6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: rgba(73, 38, 38, 0.2) 0px 1px 4px;
  border: 1px solid #c2bbba;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionImg {
  height: 30px;
  width: 30px;
}

.actionDivider {
  border-top-left-radius: 20px;
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  width: 100%;
  background-color: rgba(46, 42, 42) !important;
}

.th {
  min-height: 40px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.additionalInfoContainer {
  display: flex;
  width: 309px;
}

.additionalInfo {
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  border-top: 2px solid #c2bbba;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
 
  height: 45px;
  background-color: #fff;
  width: 33.33%;
}

.additionInfoImgContainer {
  left: 0;
  height: 45px;
  box-shadow: rgba(73, 38, 38, 0.5) 0px 1px 4px;
  border-top: 2px solid #c2bbba;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aditionalTitle {
  width: 50%;
  text-align: center;
}

.additionInfoImg {
  height: 30px;
  width: 30px;
}

.op {
  opacity: 0.5;
}

.overflowText {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.ml {
  margin-left: 3px !important;
}

.allergyContainer {
  background-color: #ebe4e4;
  padding: 6px;
  color: #000;
  border-radius: 10px;
  margin: 5px;
}

.textFont {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

.tagContainer {
  position: absolute;
  top: 16px;
  text-transform: uppercase;
}

.tagText {
  background-color: #EA9C0D;
  color: #fff;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 400;
}
