.App {
  text-align: center;
  background-color: #1a1b20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.my_custom_text_field .MuiOutlinedInput-root {
  border-radius: 30px;
}

.customDesign .MuiPaper-rounded {
  width: 100%;
  max-width: 550px;
  border-radius: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-scroll {
  max-height: 100%;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f8efef !important;
  border-radius: 5px;
  margin: 20px 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 5px;
}

.custom-scroll p:last-child {
  border: none;
}

.custom-scroll-secondary {
  max-height: 100%;
  overflow-y: auto;
}

.custom-scroll-secondary::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-secondary::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: 5px;
  margin: 20px 0;
}

.custom-scroll-secondary::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.custom-scroll-secondary p:last-child {
  border: none;
}
